apiVersion: v1
kind: ConfigMap
metadata:
  name: javalin-seed-data-config-map
  namespace: "{{ k8s_namespace }}"
data:
{% for key, value in config_values.items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}
