- name: Gather git information
  import_tasks: tasks/git-info.yml

- name: Install dependencies
  import_tasks: tasks/install-dependencies.yml

- set_fact:
    tag_name: "{{ ansible_facts['date_time']['date'] }}.{{ git_commit }}"

- debug:
    msg: "Tag name: {{ tag_name }}"

- name: Generate release notes
  uri:
    url: https://api.github.com/repos/{{ github_user }}/{{ github_repo }}/releases
    method: POST
    body_format: json
    status_code: 201
    headers:
      Authorization: Bearer {{ lookup('aws_ssm', '/github/token', region='ap-southeast-2') }}
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: 2022-11-28
    body:
      tag_name: "{{ tag_name }}"
      target_commitish: "{{ git_branch }}"
      name: "{{ tag_name }}"
      draft: false
      generate_release_notes: true
      make_latest: true

