- name: Install pip dependencies
  block:
    set_fact:
      pip_dependencies:
        - boto3
        - botocore
        - kubernetes

    local-install:
      when: lookup('env', 'CI') | lower != 'true'
      virtualenv: "{{ playbook_dir }}/.venv"
      virtualenv_command: python3 -m venv
      virtualenv_site_packages: false
      name: "{{ pip_dependencies }}"

    ci-install:
      when: lookup('env', 'CI') | lower == 'true'
      name: "{{ pip_dependencies }}"

