- name: Install dependencies
  import_tasks: tasks/install-dependencies.yml

- name: Gather git information
  import_tasks: tasks/git-info.yml

- set_fact:
    ghcr_credentials: "{{ lookup('aws_ssm', '/github/ghcr/docker-config', region='ap-southeast-2') }}"

- name: Create output directory
  block:
    - name: Delete existing output directory
      file:
        path: k8s-output
        state: absent

    - name: Create directory
      file:
        path: k8s-output
        state: directory

- name: Setup K8s config
  block:
    - name: Set kubeconfig file location
      set_fact:
        kubeconfig: k8s-output/kubeconfig

    - name: Create K8s config file
      copy:
        dest: "{{ kubeconfig }}"
        content: "{{ lookup('aws_ssm', aws_ssm_k8s_config, region='ap-southeast-2') }}"

- name: Render K8s resource files
  template:
    src: "{{ item }}"
    dest: k8s-output/{{ item | basename }}
  with_fileglob:
    - k8s/*.yaml

- name: Deploy K8s resources
  block:
    - name: Create Namespace
      command: kubectl apply -f k8s-output/Namespace.yaml --kubeconfig {{ kubeconfig }}

    - name: Create Docker registry secret
      command: kubectl apply -f k8s-output/DockerRegistryCredentials.yaml --kubeconfig {{ kubeconfig }}

    - name: Create data ConfigMap
      command: kubectl apply -f k8s-output/DataConfigMap.yaml --kubeconfig {{ kubeconfig }}

    - name: Create file ConfigMap
      command: kubectl apply -f k8s-output/FileConfigMap.yaml --kubeconfig {{ kubeconfig }}

    - name: Create Secrets
      command: kubectl apply -f k8s-output/Secrets.yaml --kubeconfig {{ kubeconfig }}

    - name: Deploy application
      command: kubectl apply -f k8s-output --kubeconfig {{ kubeconfig }}

    - name: Wait for successful deployment
      command: kubectl rollout status deployment javalin-seed-deployment --kubeconfig {{ kubeconfig }} -n {{ k8s_namespace }}

- name: Clean up output directory
  file:
    path: k8s-output
    state: absent