---
- hosts: localhost
  connection: local

  tasks:
    - name: Gather git information
      import_tasks: tasks/git-info.yml

    - set_fact:
        k8s_namespace: "javalin-seed-{{ git_branch }}"
        hostname: "{{ git_branch }}.javalin-seed.home.ruchij.com"
        aws_ssm_k8s_config: /infrastructure/prod/k8s/config

    - name: Set config values and secrets
      import_tasks: tasks/configs-and-secrets.yml

    - name: Deploy to dev branch
      import_tasks: tasks/k8s-deploy.yml