---
- hosts: localhost
  connection: local

  tasks:
    - set_fact:
        k8s_namespace: javalin-seed
        hostname: javalin-seed.home.ruchij.com
        aws_ssm_k8s_config: /infrastructure/prod/k8s/config

    - name: Set config values and secrets
      import_tasks: tasks/configs-and-secrets.yml

    - name: Create GitHub release
      import_tasks: tasks/github-release.yml

    - name: Deploy to production
      import_tasks: tasks/k8s-deploy.yml