---
- hosts: localhost
  connection: local

  tasks:
    - name: Set kube_config
      import_tasks: tasks/k8s-config.yml

    - name: Set config values and secrets
      import_tasks: tasks/configs-and-secrets.yml

    - name: Deploy to staging
      import_tasks: tasks/k8s-deploy.yml
      vars:
        namespace: javalin-seed-staging
        hostname: staging.javalin-seed.home.ruchij.com