---
- hosts: localhost
  connection: local

  tasks:
    - set_fact:
        k8s_namespace: javalin-seed-staging
        hostname: staging.javalin-seed.home.ruchij.com
        aws_ssm_k8s_config: /infrastructure/dev/k8s/config

    - name: Set config values and secrets
      import_tasks: tasks/configs-and-secrets.yml

    - name: Deploy to staging
      import_tasks: tasks/k8s-deploy.yml