name: build-pipeline

on:
  push:
    branches:
      - "**"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  compile-and-test:
    name: Compile and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}-${{ hashFiles('**/gradle.properties') }}
          path: |
            ~/.gradle
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}
            ${{ runner.os }}

      - name: Assemble
        run: ./gradlew assemble

      - name: Execute test suite
        run: ./gradlew test

  publish-docker-image:
    name: Publish Docker image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    needs:
      - compile-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}-${{ hashFiles('**/gradle.properties') }}
          path: |
            ~/.gradle
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('**/gradle-wrapper.properties') }}
            ${{ runner.os }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: javalin-seed-publish
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Build and publish Docker images
        run: ansible-playbook playbooks/build-and-publish-docker-images.yml

  deploy-to-dev:
    name: Deploy to dev branch
    runs-on: ubuntu-latest

    if: github.ref != 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    needs:
      - publish-docker-image

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: javalin-seed-staging-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Deploy to dev
        run: ansible-playbook -vvv playbooks/dev-deploy.yml

  deploy-to-staging:
    name: Deploy to staging
    runs-on: ubuntu-latest
    environment: Staging

    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    needs:
      - publish-docker-image

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: javalin-seed-staging-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Deploy to staging
        run: ansible-playbook -vvv playbooks/staging-deploy.yml

  deploy-to-production:
    name: Deploy to production
    runs-on: ubuntu-latest
    environment: Production

    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    needs:
      - deploy-to-staging

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: javalin-seed-production-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Deploy to production
        run: ansible-playbook -vvv playbooks/production-deploy.yml

  send-notification:
    runs-on: ubuntu-latest
    if: always()

    permissions:
      id-token: write

    needs:
      - compile-and-test
      - publish-docker-image
      - deploy-to-dev
      - deploy-to-staging
      - deploy-to-production

    steps:
      - name: Send Slack notification
        uses: ruchira088/slack-github-action@v1
